

<body class="fundo" >
  <% if devise_error_messages!.to_s != "" %>
          <div class="alert alert-warning aviso">
          <strong>Warning!</strong> <%= devise_error_messages! %>
          </div>
  <% end %>
  <div class="log">
    <h2 class="title">dinnerdash</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      

      <div class="intro0">
        <%= f.label :nome, for: "usr" %><br />
        <%= f.text_field :name,  autofocus: true, class: "form-control caixola", id: "usr"  %>
      </div>

      <div class="intro1">
        <%= f.label :email, for: "usr" %><br />
        <%= f.email_field :email, autocomplete: "email",  class: "form-control caixola", id: "usr"  %>
      </div>

      <div class="intro2">
        <%= f.label :senha, for: "usr" %>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",  class: "form-control caixola", id: "usr"  %>
      </div>

      <div class="intro3">
        <%= f.label :confirme_sua_senha, for: "usr" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control caixola", id: "usr" %>
      </div>

      <div class="intro4">
        <%= f.submit "cadastrar", class: "btn btn-success intro4" %>
      </div>
    <% end %>

    <div class="rodape">
      <h6 class="quest">Já possui conta?</h6>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</body>