<% x = [] %>
<% x.push("Administrador") %>
<% x.push("Padrão") %>


<div>
    <% if @user.errors %>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<%= form_for @user do |f| %>
    <div>
        <%= f.label :name %> <br />
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :email %> <br />
        <%= f.text_area :email, size: '24x5' %>
    </div>

    <div>
        <%= f.label :Perfil %> <br />
        <% if @user.admin?%>
            <%= f.select :admin, options_for_select([ ['Administrador', 1], ['Padrão', 0] ]) %>
        <% else %>
            <%= f.select :admin, options_for_select([['Padrão', 0], ['Administrador', 1]]) %>
        <% end %>
    </div>

    <%= f.submit 'Atualizar' %>
    <%= link_to 'voltar', :back %>
<% end %>