<p id="notice"><%= notice %></p>

<h1>users</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Email</th>
      <th>String</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        
        
        <td><%= link_to 'Edit', edit_situation_path(user) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

