<h1> Users </h1>
 <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Cadastrado em</th>
        <th>Email</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.created_at.strftime("%d/%m/%y") %></td>
          <td><%= user.email %></td>
          <td><%= link_to "edit", edit_user_path(user) %></td>
          <td><%= link_to 'Apagar', user_path(user), 
                    method: :delete, data: { confirm: "Tem certeza?" }   %> </td>
          <td> <%= link_to 'Back', "/orders" %> </td>
        </tr>
     <%end%>
   </tbody>
</table>