<h1 class="title_edit">dinnerdash</h1>
<% if user_signed_in? %>
	<h2 class="user_edit">Bem-vindo, <strong><%= current_user.name %></strong>.</h2 class="user_edit">
	<%= link_to 'Perfil', edit_user_registration_path, :class => 'perfil_edit text-white' %> |
	<%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'logout_edit text-white'  %>
	<% if current_user.admin? %>
		<%= link_to "Backoffice", "/orders", class: "logout_edit botaoback text-white"   %>
	<% end %>
<% else %>
	<div class="welcomeButtonsEdit">
		<%= link_to "Entrar", new_user_session_path, class: "logout_edit botaoback3 text-white" %>
		<%= link_to "Cadastro", new_user_registration_path, class: "logout_edit  text-white" %>
	</div>
	<h1 class="user_edit">Monte o seu prato</h1>
	<h2 class="subtitle">Escolha sua salada, molho, prato principal, guarnição e bebida, etc</h2>
<% end %>

<body class ="fundoWelcome">
  	<div class="log4">
    	<div class="tablecss">
			<% @meal_categories.each do |meal_category| %>
				<br>
				<h4 class="text-secondary"> <%= meal_category.name %> </h4>
				<br>
				<div class="form-row">
    				<% @meals.each do |meal| %>
	  					<% if meal.MealCategory_id == meal_category.id%>
          					<% if meal.avaible  != '0' %>
	  							<div class="col">
            						<div class="card" style="width: 18rem;">
              							<div class="card-body">
                							<img src="/images/<%=meal.name%>.jpg", class="card-img-top mealSize", alt="Card image cap">
                							<div class="card-header bg-dark text-white namefontsize">
                  								<%=meal.name%>
                							</div>
                							<h7 class="card-text text-secondary"><%= meal.description %></h7>
                							<br>
                							<h5 class="card-text text-success">R$ <%= meal.price%>,00 por porção</h5>              
              							</div>
              							<div class="card-body">
											<h6 class="card-text text-secondary">Quantidade</h6>
											<br>
                      <%= form_with url: cart_items_path(meal_id: meal.id), method: :create do |form| %>
                        <%= form.number_field :quant, min: 1, value:1, class: "form-control" %>
                        <br>
                        <br>
                        <%= form.submit "Adicionar ao meu prato", class: "btn btn-success text-white welcomeAddButton" %>
                      <% end %>
										</div>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
			<div class="branco">
				<div class="fin">
				<% unless @cart.data.empty?%> 
					<h3 class="text-secondary">Finalizou o seu prato?</h3>
					<p class="text-black-50">Confira os itens pedidos antes de finalizar o pedido</p>
					<% end %>
					<br>
				</div>
				<br>

				<section class="fin2"> <%= render 'kart'%> </section>
				<br>
				<div class="fin3">
				<% unless @cart.data.empty?%> 
					<h3 class="text-secondary texto">Preço total do pedido: </h3>
					<% end %>
					<% if user_signed_in? %>
						<% unless @cart.data.empty?%> 
						<%= link_to "finalizar e pagar", welcome_cart_path , class: "btn btn-success text-white" %>
						<% end %>
					<% else %>
						<p class="text-black-50 texto">Para finalizar o seu pedido, entre com sua conta ou faça o seu cadastro</p>
						<%= link_to "entrar", new_user_session_path, class: "btn btn-success text-white welcomeorderbutton" %>
						<%= link_to "cadastro", new_user_registration_path, class: "btn btn-outline-success welcomeorderbutton" %>
					
					<% end %>
				</div>
			</div>
		</div>
</body>
<footer class="t"><p class="di">dinnerdash | todos os direitos reservados</p></footer>

