<%= form_with(model: meal_category, local: true) do |form| %>
  <% if meal_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal_category.errors.count, "error") %> prohibited this meal_category from being saved:</h2>

      <ul>
      <% meal_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mx-sm-3 mb-2">
    <%= form.label :name %>
    <%= form.text_field :name,  class: "form-control " %>
  </div>

  <div >
    <%= form.submit "criar categoria de refeição", class:"btn btn-success intro5"  %>
    <%= link_to 'Back', meal_categories_path, class:"btn btn-secondary " %>
  </div>
<% end %>
