<% x = [] %>
<% x.push("Administrador") %>
<% x.push("Padrão") %>

<div>
    <% if @user.errors %>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div class = "leftmarginnavbar topmargin">
    <h4>Editar Pedido</h4>
<%= form_for(@user, url: userdmin_path, method: :put) do |f| %>
    <div class="form-row">
        <div class="col">
            <%= f.label :name %> <br />
            <%= f.text_field :name,  class: "form-control disabled", disabled: true  %>
        </div>
        <div class="col">
            <%= f.label :Perfil %> <br />
            <% if @user.admin? %>
                <%= f.select :admin, options_for_select([ ['Administrador', 1], ['Padrão', 0] ]), {}, { :class => 'custom-select' } %>
            <% else %>
                <%= f.select :admin, options_for_select([['Padrão', 0], ['Administrador', 1]]), {}, { :class => 'custom-select' } %>
            <% end %>
        </div>   
    </div>

    <div class="form-row">
        <div class="col">
            <%= f.label :email %> <br />
            <%= f.text_field :email,  class: "form-control disabled", disabled: true %>
        </div>
        <div class="col">
            <%= f.label :Data, class: "font" %>
            <%= f.text_field :created_at, value: @user.created_at.strftime("%d/%m/%Y"),  class: "form-control disabled", disabled: true %>
        </div>   

    </div>
    <div class="topmargin form-row">
        <div class="col">
            <%= f.submit 'Atualizar', class:"btn btn-success intro5 active"  %>
            <%= link_to 'voltar', :back, class:"leftmarginvoltar btn btn-secondary active" %>
        </div>
  </div>
<% end %>