<<<<<<< HEAD:app/views/users/_form.html.erb
<% x = [] %>
<% x.push("Administrador") %>
<% x.push("Padrão") %>
<%= form_for @user do |f| %>

=======
>>>>>>> 214bff99191fc48df84666d02c313293fc929948:app/views/userdmins/_form.html.erb
<div>
    <% if @user.errors %>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<<<<<<< HEAD:app/views/users/_form.html.erb
<div class = "leftmarginnavbar topmargin">
    <h4>Editar Pedido</h4>
=======
<%= form_for(@user, url: userdmin_path, method: :put) do |f| %>
    <div>
        <%= f.label :name %> <br />
        <%= f.text_field :name %>
    </div>
>>>>>>> 214bff99191fc48df84666d02c313293fc929948:app/views/userdmins/_form.html.erb

    <div class="form-row">
        <div class="col">
            <%= f.label :name %> <br />
            <%= f.text_field :name,  class: "form-control disabled", disabled: true  %>
        </div>
        <div class="col">
            <%= f.label :Perfil %> <br />
            <%= f.select :admin, x %>
        </div>   
    </div>

<<<<<<< HEAD:app/views/users/_form.html.erb
    <div class="form-row">
        <div class="col">
            <%= f.label :email %> <br />
            <%= f.text_field :email,  class: "form-control disabled", disabled: true %>
        </div>
        <div class="col">
            <%= f.label :Data, class: "font" %>
            <%= f.text_field :created_at, value: @user.created_at.strftime("%d/%m/%Y"),  class: "form-control disabled", disabled: true %>
        </div>   
=======
    <div>
        <%= f.label :Perfil %> <br />
        <% if @user.admin? %>
            <%= f.select :admin, options_for_select([ ['Administrador', 1], ['Padrão', 0] ]) %>
        <% else %>
            <%= f.select :admin, options_for_select([['Padrão', 0], ['Administrador', 1]]) %>
        <% end %>
>>>>>>> 214bff99191fc48df84666d02c313293fc929948:app/views/userdmins/_form.html.erb
    </div>

    <div class="topmargin form-row">
        <%= f.submit 'Atualizar', class:"btn btn-success intro5 active"  %>
        <%= link_to 'voltar', :back, class:"leftmarginvoltar btn btn-secondary active" %>
    </div>
  </div>
<% end %>