<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "leftmarginnavbar topmargin">
    <h4>Editar Pedido</h4>

    <div class="form-row">
        <div class="col">
            <%= form.label :Número %>
            <%= form.text_field :Order_id, value: @order.id,  class: "form-control disabled", disabled: true %>
        </div>
        <div class="col">
            <%= form.label :Status %><br>
            <%= form.select :Situation_id, Situation.all.map{|c| [c.description, c.id]}, class: "form-control my-1 mr-2" %>
        </div>   
    </div>

    <div class="form-row">
        <div class="col">
            <%= form.label :Data, class: "font" %>
            <%= form.text_field :created_at, value: @order.created_at.strftime("%d/%m/%Y"),  class: "form-control disabled", disabled: true %>
        </div>
        <div class="col">
            <%= form.label :Usuário %>
            <%= form.text_field :User_id,  class: "form-control disabled", disabled: false  %>
        </div>   
    </div>

    <div class="form-row">
        <div class="col">
            <%= form.label :preço %>
            <%= form.text_field :price,  class: "form-control disabled", disabled: true  %>
        </div>  
        <div class="col">
            
        </div>  
    </div>

    <div class="topmargin form-row">
        <%= form.submit "atualizar pedido", class:"btn btn-success intro5 active"  %>
        <%= link_to 'voltar', orders_path, class:"leftmarginvoltar btn btn-secondary active" %>
    </div>
  </div>

<% end %>
